.cv_container {
    margin: 1rem 10%;
    border: 1px solid aliceblue;
}

.upper_block {
    border: 1px solid aliceblue;
}

.left_block {
    border: 1px solid aliceblue;
}

.main_block {
    border: 1px solid aliceblue;
}



.upper_block_category {
    border: 1px solid aliceblue;
}

.left_block_category {
    border: 1px solid aliceblue;
}

.main_block_category {
    border: 1px solid aliceblue;
}